body {
  background-color: #FCF7F1;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  padding-inline: 12%;
}

#title {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;
  gap: 8px;
}

#image {
  max-width: 100%;
  height: auto;
  width: 250px;
}

#img-caption {
  font-size: 16px;
  text-align: center;
  width: 200px;
}

#tribute-info {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-block: 25px;
}

#tribute-link {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 25px;
  width: fit-content;
  color: black;
}
